
<p class="notice"><%= notice %></p>

<h1>Cars</h1>

<h2 style="color:white;">Search Cars by Vin:</h2>
<%= form_tag(search_cars_url, method: "get") do %>
    <%= label_tag(:search, "Search for:") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
<% end %>


<table>
  <thead>
    <tr>
      <th style="color:white;">Vin</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.vin %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %> |

<%= link_to 'Log out',   
  destroy_user_session_path,
  method: :delete %>
